<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="/css/styles.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <title>Lista Cuerpo Técnico</title>
</head>

<body class="body-usuario">
  <header th:replace="/fragments/nav-bar :: nav-bar-panel-control"></header>
  <main>
    <div class="container-fluid mt-3">
      <div class="row justify-content-center">
        <div class="col-auto text-center">
          <div class="col-auto text-center">
            <div class="barra-titulo">
              <p class="sector-admin">Lista Cuerpo Técnico</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="mt-5">
      <table class="table table-light table-striped table-hover">
        <thead>
          <tr>
            <th>Nº</th>
            <th>Nombre</th>
            <th>Nacionalidad</th>
            <th>Edad</th>
            <th>Puesto</th>
            <th>Acciones</th>

          </tr>
        </thead>

        <tbody>
          <tr th:each='cuerpotecnico,iterator : ${cuerpotecnicolista}'>
            <td th:text="${iterator.index+1}"></td>
            <td th:text="${cuerpotecnico.nombreCompleto}"></td>
            <td th:text="${cuerpotecnico.nacionalidad}"></td>
            <td th:text="${#dates.format(cuerpotecnico.edad, 'dd/MM/yyyy')}"></td>
            <td th:text="${cuerpotecnico.puesto} == null ? 'no tiene' : ${cuerpotecnico.puesto.nombre}"></td>
            <td>
                <button class="btn-dark"><a th:href="@{/cuerpotecnico/delete}+'?id='+${cuerpotecnico.id}" class="px-5 py-2" >Eliminar</a></button>
                <button class="btn-dark"><a th:href="@{/cuerpotecnico/form}+'?id='+${cuerpotecnico.id}" class="px-5 py-2" >Editar</a></button>
            </td>
        </tr>
      </tbody>
    </table>
</section>
</main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <footer th:replace="/fragments/footer :: footer-fragment-panel-control"></footer>
  </body>
</html>