<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/styles-list.css">
  <title>Personal</title>
</head>

<body class="body-personal">
  <header th:replace="/fragments/nav-bar :: nav-bar-panel-control"></header>
   <main>
    <div class="container-fluid mt-3">
      <div class="row justify-content-center">
          <div class="col-auto text-center">
              <div class="col-auto text-center">
                  <div class="barra-titulo">
                      <p class="sector-admin">Formulario para alta de personal</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <section>
      <div class="container">
        <form action="/personal/registrado" method="POST" th:object="${personal}" style="width: 50%; margin: 0 auto; ">


          <div th:if="${error != null}" th:text="${error}" class="alert alert-warning alert-dismissible fade show"
            role="alert">
            <p>Ocurrio un error</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&error;</span>
            </button>
          </div>

          <input hidden th:field="*{id}">

          <label for="nombre" class="form-label mt-2"></label>
          <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Ingrese el Nombre">

          <label for="apellido" class="form-label mt-2"></label>
          <input type="text" class="form-control" id="descripcion" th:field="*{apellido}"
            placeholder="Ingrese el apellido">

          <label for="domicilio" class="form-label mt-2"></label>
          <input type="text" class="form-control" id="precio" th:field="*{domicilio}"
            placeholder="Ingrese el domicilio">

          <label for="email" class="form-label mt-2"></label>
          <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Ingrese el email">

          <label for="password" class="form-label mt-2"></label>
          <input type="password" class="form-control" id="stock" th:field="*{password}"
            placeholder="Ingrese el Password">

          <label for="DNI" class="form-label mt-2"></label>
          <input type="number" class="form-control" id="stock" th:field="*{dni}" placeholder="Ingrese el DNI">

          <label for="telefono" class="form-label mt-2"></label>
          <input type="number" class="form-control" id="stock" th:field="*{telefono}" placeholder="Ingrese el telefono">

          <label for="cargo" class="form-label mt-2"></label>
          <input type="text" class="form-control" id="stock" th:field="*{cargo}" placeholder="Ingrese el cargo">

          <label for="salario" class="form-label mt-2"></label>
          <input type="number" class="form-control" id="stock" th:field="*{salario}" placeholder="Ingrese el salario">

          <label for="imagen" class="form-label mt-2"></label>
          <input type="file" class="form-control" th:field="*{foto}" placeholder="Seleccionar foto"><br>

          <input type="submit" class="form-control" id="enviar">
        </form>

      </div>
    </section>
  </main>

  <script src="/https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous">
  </script>
  <script src="/https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous">
  </script>
  <footer th:replace="/fragments/footer :: footer-fragment-panel-control"></footer>
</body>

</html>