   <header th:fragment="nav-bar-sin-slider" class="hero__sin--slider">
    <nav class="nav">
        <div class="logo">
            <a href="/" class="logo">
                <img src="/assets/escudo.png" class="imagen__logo">
                <h2 class="logo__name">Club Atlético Talleres</h2>
            </a>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="/panel-admin" class="nav__items--cta">Panel de Control</a>
        </div>
        <a href="/#" class="nav__items--cta">Equipo</a>
        <a href="/noticias" class="nav__items--cta">Noticias</a>
        <a sec:authorize="!isAuthenticated()" href="/usuario/registro" class="nav__items--cta">Registrarse</a>
        <div sec:authorize="hasRole('ROLE_USER')">
            <div sec:authorize="!hasRole('ROLE_SOCIO')">
                <a sec:authorize="isAuthenticated()" th:href="@{/usuario/asociarse(id=__${session.usuariosession.id}__)}" class="nav__items--cta">Asociarse</a>
            </div>
        </div>
        
        <a sec:authorize="!isAuthenticated()" href="/login" class="nav__items">Iniciar Sesión</a>
        <a sec:authorize="isAuthenticated()" href="/logout" class="nav__items">Cerrar Sesión</a>
    </nav>
   </header>

   <header th:fragment="nav-bar-sin-slider-tienda" class="hero__sin--slider">
    <nav class="nav">
        <div class="logo">
            <a href="/" class="logo">
            <img src="/assets/escudo.png" class="imagen__logo">
            <h2 class="logo__name">Club Atlético Talleres</h2></a>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="/panel-admin" class="nav__items--cta">Panel de Control</a>
        </div>
        <a href="/#" class="nav__items--cta">Equipo</a>
        <a href="/noticias" class="nav__items--cta">Noticias</a>
        <a sec:authorize="!isAuthenticated()" href="/usuario/registro" class="nav__items--cta">Registrarse</a>
        <div sec:authorize="hasRole('ROLE_USER')">
            <div sec:authorize="!hasRole('ROLE_SOCIO')">
                <a sec:authorize="isAuthenticated()" th:href="@{/usuario/asociarse(id=__${session.usuariosession.id}__)}" class="nav__items--cta">Asociarse</a>
            </div>
        </div>
        <a sec:authorize="!isAuthenticated()" href="/login" class="nav__items">Iniciar Sesión</a>
            <a sec:authorize="isAuthenticated()" href="/logout" class="nav__items">Cerrar Sesión</a>
    </nav>
   </header>

   <header th:fragment="nav-bar-panel-control" class="listas-panel">
    <nav class="nav">
        <div class="logo-list">
            <a href="" class="logo">
                <img src="/assets/escudo.png" class="imagen__logo">
                <h2 class="logo__name">Club Atlético Talleres</h2>
            </a>
        </div>
     
        <a href="/panel-admin" class="nav__items-list">Volver atrás</a>
    </nav>
   </header>


