<header th:fragment="nav-bar-sin-slider" class="hero__sin--slider">
    <nav class="nav">
        <div class="logo">
            <a href="/" class="logo">
                <img src="/assets/escudo.png" class="imagen__logo">
                <h2 class="logo__name">Club Atlético Talleres</h2>
            </a>
        </div>
        <a sec:authorize="hasRole('ROLE_ADMIN')" href="/panel-admin" class="nav__items--cta"><i class="fas fa-user-cog"
                style="margin-right: 5px;"></i>Panel de Control</a>
        <a href="/equipo" class="nav__items--cta"><i class="fas fa-users" style="margin-right: 5px;"></i>Equipo</a>
        <a href="/noticias" class="nav__items--cta"><i class="far fa-newspaper"
                style="margin-right: 5px;"></i>Noticias</a>
        <a sec:authorize="!isAuthenticated()" href="/usuario/registro" class="nav__items--cta"><i
                class="fas fa-user-check" style="margin-right: 5px;"></i>Registrarse</a>
        
            <a sec:authorize="hasRole('ROLE_SOCIO')">
                <a sec:authorize="!hasRole('ROLE_ADMIN')"
                    th:href="@{/socio/carnet(id=__${session.usuariosession.id}__)}" class="nav__items--cta"><i
                        class="fas fa-id-card" style="margin-right: 5px;"></i>Carnet Digital</a>
            </a>
      
        <div sec:authorize="isAuthenticated()">
            <a sec:authorize="!hasRole('ROLE_SOCIO')"
                th:href="@{/usuario/asociarse(id=__${session.usuariosession.id}__)}" class="nav__items--cta"><i
                    class="fas fa-user-check" style="margin-right: 5px;"></i>Asociarse</a>
        </div>
        <a sec:authorize="!isAuthenticated()" href="/login" class="nav__items"><i class="fas fa-sign-in-alt"
                style="margin-right: 5px;"></i>Iniciar Sesión </a>
        <div sec:authorize="isAuthenticated()" class="container-logout">
            <a href="/logout" class="button-logout">
                <i class="fas fa-user logout-icon"></i>
                <span th:if="${session.usuariosession != null}"
                    th:text="${session.usuariosession.nombre +' '+ session.usuariosession.apellido}"></span>
                <p><i class="fas fa-sign-out-alt logout-icon"></i> Cerrar Sesión</p>
            </a>
        </div>
    </nav>
    <script src="https://kit.fontawesome.com/5208273844.js" crossorigin="anonymous"></script>
</header>

<header th:fragment="nav-bar-panel-control" class="listas-panel">
    <nav class="nav">
        <div class="logo-list">
            <a href="/" class="logo">
                <img src="/assets/escudo.png" class="imagen__logo">
                <h2 class="logo__name">Club Atlético Talleres</h2>
            </a>
        </div>

        <div><a href="/panel-admin" class="nav__items-list">Volver atrás</a></div>
    </nav>
    <script src="https://kit.fontawesome.com/5208273844.js" crossorigin="anonymous"></script>
</header>