<header th:fragment="nav-bar" class="hero">
    <nav class="nav">
        <div class="logo">
            <a href="/" class="logo">
            <img src="assets/escudo.png" class="imagen__logo">
            <h2 class="logo__name">Club Atletico Talleres</h2></a>
        </div>
        <a href="/registro" class="nav__items--cta">Registrarme</a>
        <a href="/login" class="nav__items">Iniciar Sesión</a>
        <a href="#" class="nav__items">Quienes Somos</a>
    </nav>
   </header>

   <header th:fragment="nav-bar-sin-slider" class="hero__sin--slider">
    <nav class="nav">
        <div class="logo">
            <a href="/" class="logo">
            <img src="assets/escudo.png" class="imagen__logo">
            <h2 class="logo__name">Club Atletico Talleres</h2></a>
        </div>
        <a href="/registro" class="nav__items--cta">Registrarme</a>
        <a href="/login" class="nav__items">Iniciar Sesión</a>
        <a href="#" class="nav__items">Quienes Somos</a>
    </nav>
   </header>