<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/mp-fragments :: mp-head"></head>

<body>
  
  <main>
    <!-- Shopping Cart -->
    <section class="shopping-cart dark">
      <div class="container container__cart">
        <div class="block-heading">
          <h2>Carrito de Compras</h2>
          <p>Pago seguro</p>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-md-12 col-lg-8">
              <div class="items">
                <div class="product">
                  <div class="info">
                    <div class="product-details">
                      <div class="row justify-content-md-center">
                        <div class="col-md-3">
                          <img class="img-fluid mx-auto d-block image" style="margin-top: 52px;"
                            src="/assets/img-tienda/img-buzos/img-1.jpg">
                        </div>
                        <div class="col-md-4 product-detail">
                          <h5>Producto</h5>
                          <div class="product-info">
                            <p><b>Descripción </b><span id="product-description">Buzo 1913</span><br>
                              <b>Color: </b>Azul Claro<br>
                              <b>Talle: </b>
                              <select class="form-select form-select-lg mb-3" style="border: none;"
                                aria-label=".form-select-lg example">
                                <option value="1">S</option>
                                <option value="2">M</option>
                                <option value="3">L</option>
                                <option value="4">XL</option>
                                <option value="4">XXL</option>
                              </select><br>

                            <div sec:authorize="!hasRole('ROLE_SOCIO')">
                              <b>Precio:</b> $ <span id="unit-price">3500</span>
                            </div>
                            <div sec:authorize="hasRole('ROLE_SOCIO')">
                              <b>Precio:</b> $ <span id="unit-price">1500</span>
                            </div>
                            </p>

                          </div>
                        </div>
                        <div class="col-md-3 product-detail">
                          <label for="quantity">
                            <h5>Cantidad</h5>
                          </label>
                          <input type="number" id="quantity" value="1" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <div class="summary">
                <h3>Resumen</h3>
                <b>Buzo 1913</b><br>
                <br>
                <br>
                <br>
                <div class="summary-item"><span class="text">Subtotal</span><span class="price" id="cart-total"></span>
                </div>
                <button class="btn btn-primary btn-lg btn-block" id="checkout-btn">Pagar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Payment -->
    <section class="payment-form dark">
      <div class="container__payment">
        <div class="block-heading">
          <h2>Datos de la tarjeta</h2>
          <p>Visa/MasterCard/AmericanExpress/Cabal/Naranja </p>
        </div>
        <div class="form-payment">
          <div class="products">
            <h2 class="title">Resumen</h2>
            <div class="item">
              <span class="price" id="summary-price"></span>
              <p class="item-name">Camiseta x <span id="summary-quantity"></span></p>
            </div>
            <div class="total">Total<span class="price" id="summary-total"></span></div>
          </div>
          <div class="payment-details">
            <form id="form-checkout">
              <h3 class="title">Datos del Comprador </h3>
              <div class="row">
                <div class="form-group col">
                  <input id="form-checkout__cardholderEmail" name="cardholderEmail" type="email" class="form-control" />
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-5">
                  <select id="form-checkout__identificationType" name="identificationType"
                    class="form-control"></select>
                </div>
                <div class="form-group col-sm-7">
                  <input id="form-checkout__identificationNumber" name="docNumber" type="text" class="form-control" />
                </div>
              </div>
              <br>
              <h3 class="title">Datos de la Tarjeta</h3>
              <div class="row">
                <div class="form-group col-sm-8">
                  <input id="form-checkout__cardholderName" name="cardholderName" type="text" class="form-control" />
                </div>
                <div class="form-group col-sm-4">
                  <div class="input-group expiration-date">
                    <input id="form-checkout__cardExpirationMonth" name="cardExpirationMonth" type="text"
                      class="form-control" />
                    <span class="date-separator">/</span>
                    <input id="form-checkout__cardExpirationYear" name="cardExpirationYear" type="text"
                      class="form-control" />
                  </div>
                </div>
                <div class="form-group col-sm-8">
                  <input id="form-checkout__cardNumber" name="cardNumber" type="text" class="form-control" />
                </div>
                <div class="form-group col-sm-4">
                  <input id="form-checkout__securityCode" name="securityCode" type="text" class="form-control" />
                </div>
                <div id="issuerInput" class="form-group col-sm-12 hidden">
                  <select id="form-checkout__issuer" name="issuer" class="form-control"></select>
                </div>
                <div class="form-group col-sm-12">
                  <select id="form-checkout__installments" name="installments" type="text"
                    class="form-control"></select>
                </div>
                <div class="form-group col-sm-12">
                  <input type="hidden" id="amount" />
                  <input type="hidden" id="description" />
                  <br>
                  <button id="form-checkout__submit" type="submit" class="btn btn-primary btn-block">Pagar</button>
                  <br>
                  <a id="go-back">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 10 10"
                      class="chevron-left">
                      <path fill="#009EE3" fill-rule="nonzero" id="chevron_left"
                        d="M7.05 1.4L6.2.552 1.756 4.997l4.449 4.448.849-.848-3.6-3.6z"></path>
                    </svg>
                    Volver al Carrito
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Result -->
    <section class="shopping-cart dark">
      <div class="container container__result">
        <div class="block-heading">
          <h2>Resultado</h2>
          <p>Pago exitoso</p>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="items product info product-details">
                <div class="row justify-content-md-center">
                  <div class="col-md-4 product-detail">
                    <div class="product-info">
                      <br>
                      <p><b>Status: </b><span id="payment-status"></span></p>
                      <p><b>Detail: </b><span id="payment-detail"></span></p>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="footer_logo"><img id="horizontal_logo" src="/assets/img/horizontal_logo.png"></div>
    <div class="footer_text">
      <p>Developers Site:</p>
      <p><a href="https://www.mercadopago.com/developers">https://www.mercadopago.com/developers</a></p>
    </div>
  </footer>
</body>

</html>