/* VARIABLES DEFINIDIAS */
:root {
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary: #1b2f62;
    --color-secondary: #0e204e;
    --black1: #1a1b1f;
    --black2: #30353b;
    --boton-padding: 20px 40px;
}

body {
    font-family: 'Hammersmith One', sans-serif;

    /* background: #0f0c29; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #24243e, #1b2f62, #0f0c29); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #24243e, #1b2f62, #0f0c29); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-image: url(../assets/9bb2b89f9ebc960e856675f4424ba840.jpg);
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    
}

.hero__sin--slider {
    width: 100%;

}

.form-register {
    height: 688px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black2);
    margin-bottom: 10px;
}

.logo__club {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 275px;
    /* left: calc(50% - 50px); */
    margin-left: 0px;


  
 
}
.foto_usuario {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 410px;
    margin-right: 100px;
    border-radius: 10px;
    border-color: #ffff;
    
   
}

h1 {
    text-align: center;
    color: #ffff;
    margin-top: 0px;
    padding: 7px 0px 40px 0px;
    margin-left: 6px;
    margin-bottom: 10px;
}

.form {
    background: var(--color-primary);
    padding: 40px 30px;
    box-shadow: 0 0 6px 4px rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    min-width: 593px;
    margin: 50px auto 0px;
    margin-bottom: 100px;
    margin-top: 40px;
    
}


.form .grupo {
    position: relative;
    margin: 45px;
}

.input {
    background: none;
    color: var(--black1);
    font-size: 18px;
    padding: 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-primary);
}

.input:focus {
    /* quita el recuadro donde va el input */
    outline: none;
    color: var(--color-secondary);
}

.label {
    color: #ffff;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: -5px;
}

/* input:valid para que no se superpongan los textos del label */
input:focus~label,
input:valid~label {
    top: -14px;
    font-size: 12px;
    color: #1b2f62;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

/* efecto de barra cargando del label */
.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0%;
    position: absolute;
    background: linear-gradient(to top, hsla(213, 44%, 29%, 0.638), #1b2f62);
    transition: 0.5s ease width;
    left: 0%;
}

.input:focus~.barra::before {
    width: 100%;
}

.button {
    font-family: 'Hammersmith One', sans-serif;
    background: #1b2f62;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, hsla(213, 44%, 29%, 0.638), #1b2f62);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, hsla(213, 44%, 29%, 0.638), #1b2f62);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 80%;
    margin: 40px auto;
    color: #ffff;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

.confirmacion__mail {
    font-size: 12px;
    text-align: center;
    margin-top: 22px;
}

.contraseña__olvidada {
    font-family: 'Hammersmith One', sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    margin: 10px auto;

}
.descripcion__produc {
    text-align: left;
    color: #ffff;
    margin-top: 10px;
    margin-left: 150px;
    
}
.descripcion__producname {
    margin-top: 10px;
    text-align: left;
    color: #ffff;
    margin-left: 150px;
}
.descripcion__produc1 {
    text-align: left;
    color: #ffff;
    margin-top: 10px;
    font-weight: bolder;
}
.descripcion__producname1 {
    margin-top: 80px;
    text-align: left;
    color: #ffff;
    font-weight: bolder;
}