/* VARIABLES DEFINIDIAS */
:root {
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary: #1b2f62;
    --color-secondary: #0e204e;
    --black1: #1a1b1f;
    --black2: #30353b;
    --boton-padding: 20px 40px;
}

body {
    font-family: 'Hammersmith One', sans-serif;
}