<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/escudo.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles-equipo.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Equipo</title>
</head>

<body>
  <header th:replace="/fragments/nav-bar :: nav-bar-sin-slider"></header>
  <main>
    <section class="tienda">
      <div class="container">
        <article class="seccion__categoria">
          <p class="tienda__title-categoria">Jugadores<p>
              <div class="galery__port">
                <div class="producto__tienda">
                  <div class="galery__port--img">
                    <a class="galery__port--hover">
                      <img class="imagen__tienda" src="/assets/jugadores/Herrera-Guido-3.png" alt="camiseta talleres"></a>
                    <div class="descripcion">
                      <p class="descripcion__producname">GUIDO HERRERA</p>
                      <p class ="descripcion__produc">Posición: Arquero</p>
                      <p class ="descripcion__produc">Edad: 28</p>
                      <p class="descripcion__produc">Número: 22</p>
                    </div>
                  </div>
                </div>
                <div class="producto__tienda">
                  <div class="galery__port--img">
                    <a class="galery__port--hover">
                      <img class="imagen__tienda" src="/assets/jugadores/Cordoba-Matias-1.png" alt="camiseta talleres"></a>
                    <div class="descripcion">
                      <p class="descripcion__producname">CORDOBA MATIAS</p>
                      <p class ="descripcion__produc">Posición: Defensor</p>
                      <p class ="descripcion__produc">Edad: 29</p>
                      <p class="descripcion__produc">Número: 8</p>
                    </div>
                    

                  </div>
                </div>

                <div class="producto__tienda">
                  <div class="galery__port--img">
                    <a class="galery__port--hover">
                      <img class="imagen__tienda" src="/assets/jugadores/Komar-Juan-Cruz-2.png" alt="camiseta talleres"></a>
                    <div class="descripcion">
                      <p class="descripcion__producname">KOMAR JUAN CRUZ</p>
                      <p class ="descripcion__produc">Posición: Defensor</p>
                      <p class ="descripcion__produc">Edad: 31</p>
                      <p class="descripcion__produc">Número: 13</p>
                    </div>
                  </div>
                </div>



                <div class="producto__tienda">
                  <div class="galery__port--img">
                    <a class="galery__port--hover">
                      <img class="imagen__tienda" src="/assets/jugadores/Luduena-Cristian-4.png" alt="camiseta talleres"></a>
                    <div class="descripcion">
                      <p class="descripcion__producname">LUDUEÑA CRISTIAN</p>
                      <p class ="descripcion__produc">Posición: Defensor</p>
                      <p class ="descripcion__produc">Edad: 31</p>
                      <p class="descripcion__produc">Número: 4</p>
                    </div>
                  </div>
                </div>
              </div>
        </article>

        <article class="seccion__categoria">

          <div class="galery__port">
            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover">
                  <img class="imagen__tienda" src="/assets/jugadores/Martino-Angelo-5.png" alt="camiseta talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__producname">MARTINO ANGELO</p>
                  <p class ="descripcion__produc">Posición: Defensor</p>
                  <p class ="descripcion__produc">Edad: </p>
                  <p class="descripcion__produc">Número: 21</p>
                </div>
              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">

                <a class="galery__port--hover">
                  <img class="imagen__tienda" src="/assets/jugadores/Mendez-Ignacio-6.png" alt="camiseta talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__producname">MENDEZ IGNACIO</p>
                  <p class ="descripcion__produc">Posición: Defensor</p>
                  <p class ="descripcion__produc">Edad: 25</p>
                  <p class="descripcion__produc">Número: 50</p>
                </div>
              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover">
                  <img class="imagen__tienda" src="/assets/jugadores/Paparelli-Renzo-7.png" alt="camiseta talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__producname">PAPARELLI RENZO</p>
                  <p class ="descripcion__produc">Posición: Defensor</p>
                  <p class ="descripcion__produc">Edad: 32</p>
                  <p class="descripcion__produc">Número: 7</p>
                </div>
              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover">
                  <img class="imagen__tienda" src="/assets/jugadores/Parede-Guilherme-8.png" alt="camiseta talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__producname">PAREDE GUILLERMO</p>
                  <p class ="descripcion__produc">Posición: Defensor</p>
                  <p class ="descripcion__produc">Edad: 28</p>
                  <p class="descripcion__produc">Número: 22</p>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="seccion__categoria">
          <div class="galery__port">
            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover">
                  <img class="imagen__tienda" src="/assets/jugadores/Santos-Michael-9.png" alt="short talleres"></a>
                  <div class="descripcion">
                    <p class="descripcion__producname">SANTOS MICHAEL</p>
                    <p class ="descripcion__produc">Posición: Medio-campista</p>
                    <p class ="descripcion__produc">Edad: 28</p>
                    <p class="descripcion__produc">Número: 22</p>
                </div>

              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">

                <a class="galery__port--hover">
                  <img class="imagen__tienda" src="/assets/jugadores/Sosa-Matias-10.png" alt="short talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__producname">SOSA MATIAS</p>
                  <p class ="descripcion__produc">Posición: Medio-campista</p>
                  <p class ="descripcion__produc">Edad: 28</p>
                  <p class="descripcion__produc">Número: 22</p>
                </div>
              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover">
                  <img class="imagen__tienda" src="/assets/jugadores/velazquez-Julian-11.png" alt="short talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__producname">VELAZQUEZ JULIAN</p>
                  <p class ="descripcion__produc">Posición: Medio-campista</p>
                  <p class ="descripcion__produc">Edad: 28</p>
                  <p class="descripcion__produc">Número: 22</p>
                </div>
              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover">
                  <img class="imagen__tienda" src="/assets/jugadores/Torres-Gaston-12.png" alt="short talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__producname">TORRES GASTON</p>
                  <p class ="descripcion__produc">Posición: Medio-campista</p>
                  <p class ="descripcion__produc">Edad: 28</p>
                  <p class="descripcion__produc">Número: 22</p>
                </div>
              </div>
            </div>
          </div>
        </article>



        <article class="seccion__categoria">
          <div class="galery__port">
            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover">
                  <img class="imagen__tienda" src="/assets/jugadores/Mac-Allister-Francis-14.png"
                    alt="accesorio talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__producname">MAC ALLISTER FRANCIS</p>
                  <p class ="descripcion__produc">Posición: Medio-campista</p>
                  <p class ="descripcion__produc">Edad: 28</p>
                  <p class="descripcion__produc">Número: 22</p>
                </div>

              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">

                <a class="galery__port--hover">
                  <img class="imagen__tienda" src="/assets/jugadores/Alves-Gonzalo-15.png"
                    alt="accesorio talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__producname">ALVES GONZALO</p>
                  <p class ="descripcion__produc">Posición: Delantero</p>
                  <p class ="descripcion__produc">Edad: 28</p>
                  <p class="descripcion__produc">Número: 22</p>
                </div>
              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover">
                  <img class="imagen__tienda" src="/assets/jugadores/Valoyes-Diego-16.png"
                    alt="accesorio talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__producname">VOLAYES DIEGO</p>
                  <p class ="descripcion__produc">Posición: Delantero</p>
                  <p class ="descripcion__produc">Edad: 28</p>
                  <p class="descripcion__produc">Número: 22</p>
                </div>
              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover">
                  <img class="imagen__tienda" src="/assets/jugadores/Ortiz-Mauro-13.png"
                    alt="accesorio talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__producname">ORTIZ MAURO</p>
                  <p class ="descripcion__produc">Posición: Delantero</p>
                  <p class ="descripcion__produc">Edad: 28</p>
                  <p class="descripcion__produc">Número: 22</p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="seccion__categoria">
          <p class="tienda__title-categoria">Cuerpo Técnico</p>
          <div class="galery__port">
            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover">
                  <img class="imagen__tienda" src="/assets/cuerpotecnico/alexander-medina-1.png" alt="short talleres"></a>
                  <div class="descripcion">
                    <p class="descripcion__producname">ALEXANDER MEDINA</p>
                    <p class ="descripcion__produc">Función: Entrenador</p>
                    <p class ="descripcion__produc">Edad: 42</p>
                </div>

              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">

                <a class="galery__port--hover">
                  <img class="imagen__tienda" src="/assets/cuerpotecnico/alexis-olariaga-2.png" alt="short talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__producname">ALEXIS OLARIAGA</p>
                  <p class ="descripcion__produc">Función: Preparador Físico</p>
                  <p class ="descripcion__produc">Edad: 58</p>
                </div>
              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover">
                  <img class="imagen__tienda" src="/assets/cuerpotecnico/gustavo-irusta-3.png" alt="short talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__producname">GUSTAVO IRUSTA</p>
                  <p class ="descripcion__produc">Función: Entrenador de Arquero</p>
                  <p class ="descripcion__produc">Edad: 52</p>
                </div>
              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover">
                  <img class="imagen__tienda" src="/assets/cuerpotecnico/jesus-mux-4.png" alt="short talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__producname">JESUS MUX</p>
                  <p class ="descripcion__produc">Función: Médico</p>
                  <p class ="descripcion__produc">Edad: 43</p>
                </div>
              </div>
            </div>
          </div>
        </article>

      </div>
    </section>

    <!-- <section class="projects">
      <div class="container">
          <div class="grid-container">


              <div class="grid-item buzos">
                  <a href="/" class="cat__buzos">
                      <img src="/assets/img-tienda/img1.png" class="grid__item--img1" alt="">
                      <p class="boton__indumentaria buzo-boton">Buzos</p>
                  </a>
              </div>


              <div class="grid-item accesorios">
                  <a href="/" class="cat__accesorios">
                      <img src="/assets/img-tienda/img5.png" class="grid__item--img2" alt="">
                      <p class="boton__indumentaria accesorio-boton">Accesorios</p>
                  </a>
              </div>

              <div class="grid-item shorts">
                  <a href="/" class="cat__shorts">
                      <img src="/assets/img-tienda/img3.png" class="grid__item--img3" alt="">
                      <p class="boton__indumentaria short-boton">Shorts</p>
                  </a>
              </div>

              <div class="grid-item camisetas">
                  <a href="/" class="cat__camisetas">
                      <img src="/assets/img-tienda/img2.png" class="grid__item--img4" alt="">
                      <p class="boton__indumentaria camiseta-boton">Camisetas</p>
                  </a>
              </div>
          </div>
      </div>
  </section> -->

  </main>
  <script src="/main.js"></script>
  <footer th:replace="/fragments/footer :: footer-fragment"></footer>
</body>

</html>