<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/escudo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-tienda.css">
    <title>Club Talleres</title>
</head>



<body>
    <!-- hero no lleva un container en el bloque ya que como vamos a utilizar un slider
    queremos que el mismo abarque el 100% del ancho de la pantalla -->

    <header class="hero">
        <header th:replace="/fragments/nav-bar :: nav-bar-sin-slider"></header>
        <br>
        <div class="hero__slider">
            <ul class="slider">
                <li id="slide3" class="slider slider3">
                    <video src="/assets/slider-video/Azul y Blanco y VOS - oDownloader.com.mp4" muted autoplay
                        controls=""></video>
                </li>
                <!-- <li id="slide1" class="slider slider1">
                    <img src="/assets/img-slider/img-slider.jpg" />
                </li>
                <li id="slide2" class="slider slider2">
                    <img src="/assets/img-slider/camisetas-givova-talleres-cordoba-2021-4.jpg" />
                </li> -->
                <!-- <div class="menu">
                    <span class="menu__icons">
                        <a class="menu__icons--button" href="/#slide1"></a>
                    </span>
                    <span class="menu__icons">
                        <a class="menu__icons--button" href="/#slide2"></a>
                    </span>
                    <span class="menu__icons">
                        <a class="menu__icons--button" href="/#slide3"></a>
                    </span>
                </div> -->
            </ul>
        </div>
    </header>

    <main>
        <!-- seccion noticias -->
        <section class="noticias">
            <div class="container">
                <h2 class="noticias__title">NOTICIAS Y TABLA DE POSICIONES</h2>
                <p class="noticias__subtitle">Últimas novedades de la "T"</p>

                <article class="container__cards">
                    <div class="card">
                        <img src="/assets/img-noticias/beltramone_862x485.jpg" class="card__img">
                        <div class="cards_text">
                            <p class="card_list">Juveniles Talleres: Resumen de la jornada de inferiores</p>
                            <p class="card__copy">Talleres y Patronato se pusieron al día en el Torneo Juvenil de la Liga Profesional de Fútbol.
                                El albiazul y el Patrón disputaron los partidos correspondientes a la 1° Fecha del Certamen.
                                Las categorías mayores lo hicieron en Córdoba, mientras que las menores disputaron sus encuentros en Paraná.. </p><br>
                            <a href="/html-administracion/noticias-web/noticia-1.html" class="card__button">LEER MÁS..</a>
                            <P class="fecha__noticia">02 DE SEPTIEMBRE, 2021</P>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/assets/img-noticias/JMV_7807-1536x1024.jpg" class="card__img">
                        <div class="cards_text">
                            <p class="card_list">Nuestros Juveníles Juegan Ante Independiente</p>
                            <p class="card__copy">La organización del torneo dio a conocer el calendario de las tres jornadas que se jugarán a partir del viernes 15 de Octubre.
                                Talleres ya conoce los días y horarios de los partidos correspondientes a las Fechas 16, 17 y 18 del Torneo Socios.com. En esas jornadas el albiazul visitará a Cólon en Santa Fe..</p><br>
                            <a href="/html-administracion/noticias-web/noticia-2.html" class="card__button">LEER MÁS...</a>
                            <P class="fecha__noticia">31 DE AGOSTO, 2021</P>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/assets/img-noticias/matadoras.jpeg" class="card__img">
                        <div class="cards_text">
                            <p class="card_list">Fútbol Femenino: Amistoso & y convocatoria </p>
                            <p class="card__copy">El Club Talleres informa que se realizarán pruebas de jugadoras de
                                Fútbol Femenino para divisiones inferiores para niñas nacidas entre el año 2005 a 2008
                                inclusive. El Fútbol Femenino de Talleres se medirá en un cotejo amistoso con su similar de Camioneros. El partido tendrá lugar en el Predio Deportivo..</p><br>
                            <a href="/html-administracion/noticias-web/noticia-3.html" class="card__button">LEER MÁS...</a>
                            <P class="fecha__noticia">28 DE AGOSTO, 2021</P>
                        </div>
                    </div>

                    <!-- TABLA DE POSICIONES -->
                    <div class="tabla__posiciones">
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9856091 elementor-hidden-tablet elementor-hidden-phone"
                            data-id="9856091" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-80a9221 elementor-widget elementor-widget-heading"
                                        data-id="80a9221" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <!-- <h1 class="elementor-heading-title elementor-size-default">POSICIONES</h1> -->
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-27b4553 elementor-widget elementor-widget-cat-positions"
                                        data-id="27b4553" data-element_type="widget"
                                        data-widget_type="cat-positions.default">
                                        <div class="elementor-widget-container">

                                            <iframe class="positions-widget"
                                                src="https://dfcenter.clubtalleres.com.ar/v3/minapp/page/page.html?channel=deportes.futbol.primeraa&amp;lang=es_LA&amp;page=posiciones"
                                                width="100%" height="680px" scrolling="auto"
                                                style="width: 100%; background: white; border-radius: 8px; margin-top: 30px;"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
            <!-- efecto wave superior -->
            <div class="noticias__wave--superior" style="overflow: hidden;"><svg viewBox="0 0 500 150"
                    preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M-3.10,26.14 C232.78,77.45 213.60,-29.11 505.92,53.78 L500.00,0.00 L0.00,0.00 Z"
                        style="stroke: none; fill: #fff;"></path>
                </svg></div>
            <!-- efecto wave inferior -->
            <div class="noticias__wave--inferior" style="overflow: hidden;"><svg viewBox="0 0 500 150"
                    preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M-1.41,71.53 C235.04,215.63 283.57,6.42 503.10,87.33 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #fff"></path>
                </svg></div>

        </section>

        <section class="projects">
            <div class="container">
                <h2 class="tienda__title">TIENDA DE PRODUCTOS</h2>
                <div class="grid-container">


                    <div class="grid-item buzos">
                        <a href="/tienda-indumentaria#ir-buzos" class="cat__buzos">
                            <img src="/assets/img-tienda/img1.png" class="grid__item--img1" alt="">
                            <p class="boton__indumentaria buzo-boton">Buzos</p>
                        </a>
                    </div>

                    <div class="grid-item accesorios">
                        <a href="/tienda-indumentaria#ir-accesorios" class="cat__accesorios">
                            <img src="/assets/img-tienda/img5.png" class="grid__item--img2" alt="">
                            <p class="boton__indumentaria accesorio-boton">Accesorios</p>
                        </a>
                    </div>

                    <div class="grid-item shorts">
                        <a href="/tienda-indumentaria#ir-shorts" class="cat__shorts">
                            <img src="/assets/img-tienda/img3.png" class="grid__item--img3" alt="">
                            <p class="boton__indumentaria short-boton">Shorts</p>
                        </a>
                    </div>

                    <div class="grid-item camisetas">
                        <a href="/tienda-indumentaria#ir-camisetas" class="cat__camisetas">
                            <img src="/assets/img-tienda/img2.png" class="grid__item--img4" alt="">
                            <p class="boton__indumentaria camiseta-boton">Camisetas</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- SECCION PATROCINADORES -->
        <section class="patrocinadores">
            <div class="container">
                <h2 class="patrocinadores__title">NUESTROS PATROCINADORES</h2>
                <div class="patrocinadores__grid">

                    <article class="patrocinador__items">
                        <a href="https://www.cadena3.com/" target="_blank">
                            <!-- efecto que se mostrara cuando pasemos el mouse por arriba -->
                            <object class="patrocinador__logo" data="assets/img-sponsor/img1.svg" type="image/svg+xml">
                                <!-- imagen alternativa por si el SVG no carga -->
                                <img src="/assets/img-sponsor/marcas/PNG/img1.png" alt="Imagen PNG alternativa">
                            </object>
                            <div class="patrocinador__hover">
                                <h2 class="patrocinador__subtitle"></h2>
                                <!-- agregamos un icono -->
                                <!-- <i class="far fa-hand-pointer patrocinador__icon"></i> -->
                            </div>
                        </a>
                    </article>

                    <article class="patrocinador__items">
                        <a href="http://www.clinicadeojoscba.com/" target="_blank">
                            <object class="patrocinador__logo" data="assets/img-sponsor/img2.svg" type="image/svg+xml">
                                <!-- imagen alternativa por si el SVG no carga -->
                                <img src="/assets/img-sponsor/marcas/PNG/img2.png" alt="Imagen PNG alternativa">
                            </object>

                            <!-- efecto que se mostrara cuando pasemos el mouse por arriba -->
                            <div class="patrocinador__hover">
                                <h2 class="patrocinador__subtitle"></h2>
                                <!-- agregamos un icono -->
                                <!-- <i class="far fa-hand-pointer patrocinador__icon"></i> -->
                            </div>
                        </a>
                    </article>

                    <article class="patrocinador__items">
                        <a href="https://www.colorin.com" target="_blank">

                            <object class="patrocinador__logo" data="assets/img-sponsor/img3.svg" type="image/svg+xml">
                                <!-- imagen alternativa por si el SVG no carga -->
                                <img src="/assets/img-sponsor/marcas/PNG/img3.png" alt="Imagen PNG alternativa">
                            </object>

                            <!-- efecto que se mostrara cuando pasemos el mouse por arriba -->
                            <div class="patrocinador__hover">
                                <h2 class="patrocinador__subtitle"></h2>
                                <!-- agregamos un icono -->
                                <!-- <i class="far fa-hand-pointer patrocinador__icon"></i> -->
                            </div>
                        </a>
                    </article>

                    <article class="patrocinador__items">
                        <a href="https://www.directv.com/" target="_blank">
                            <object class="patrocinador__logo" data="assets/img-sponsor/img4.svg" type="image/svg+xml">
                                <!-- imagen alternativa por si el SVG no carga -->
                                <img src="/assets/img-sponsor/marcas/PNG/img4.png" alt="Imagen PNG alternativa">
                            </object>

                            <!-- efecto que se mostrara cuando pasemos el mouse por arriba -->
                            <div class="patrocinador__hover">
                                <h2 class="patrocinador__subtitle"></h2>
                                <!-- agregamos un icono -->
                                <!-- <i class="far fa-hand-pointer patrocinador__icon"></i> -->
                            </div>
                        </a>
                    </article>

                    <article class="patrocinador__items">
                        <a href="https://www.enasport.com/" target="_blank">
                            <object class="patrocinador__logo" data="assets/img-sponsor/img5.svg" type="image/svg+xml">
                                <!-- imagen alternativa por si el SVG no carga -->
                                <img src="/assets/img-sponsor/marcas/PNG/img5.png" alt="Imagen PNG alternativa">
                            </object>

                            <!-- efecto que se mostrara cuando pasemos el mouse por arriba -->
                            <div class="patrocinador__hover">
                                <h2 class="patrocinador__subtitle"></h2>
                                <!-- agregamos un icono -->
                                <!-- <i class="far fa-hand-pointer patrocinador__icon"></i> -->
                            </div>
                        </a>
                    </article>

                    <article class="patrocinador__items">
                        <a href="http://www.gatorade.com.ar/es-mx/" target="_blank">
                            <!-- <img src="//assets/img-sponsor/Marcas/img6.svg" class="patrocinador__logo"> -->
                            <object class="patrocinador__logo" data="assets/img-sponsor/img6.svg" type="image/svg+xml">
                                <!-- imagen alternativa por si el SVG no carga -->
                                <img src="/assets/img-sponsor/marcas/PNG/img6.png" alt="Imagen PNG alternativa">
                            </object>

                            <!-- efecto que se mostrara cuando pasemos el mouse por arriba -->
                            <div class="patrocinador__hover">
                                <h2 class="patrocinador__subtitle"></h2>
                                <!-- agregamos un icono -->
                                <!-- <i class="far fa-hand-pointer patrocinador__icon"></i> -->
                            </div>
                        </a>
                    </article>

                    <article class="patrocinador__items">
                        <a href="https://givovaoficial.com/productos/" target="_blank">
                            <object class="patrocinador__logo" data="assets/img-sponsor/img7.svg" type="image/svg+xml">
                                <!-- imagen alternativa por si el SVG no carga -->
                                <img src="/assets/img-sponsor/marcas/PNG/img7.png" alt="Imagen PNG alternativa">
                            </object>

                            <!-- efecto que se mostrara cuando pasemos el mouse por arriba -->
                            <div class="patrocinador__hover">
                                <h2 class="patrocinador__subtitle"></h2>
                                <!-- agregamos un icono -->
                                <!-- <i class="far fa-hand-pointer patrocinador__icon"></i> -->
                            </div>
                        </a>
                    </article>

                    <article class="patrocinador__items">
                        <a href="https://www.icbc.com.ar/personas" target="_blank">
                            <object class="patrocinador__logo" data="assets/img-sponsor/img8.svg" type="image/svg+xml">
                                <!-- imagen alternativa por si el SVG no carga -->
                                <img src="/assets/img-sponsor/marcas/PNG/img8.png" alt="Imagen PNG alternativa">
                            </object>

                            <!-- efecto que se mostrara cuando pasemos el mouse por arriba -->
                            <div class="patrocinador__hover">
                                <h2 class="patrocinador__subtitle"></h2>
                                <!-- agregamos un icono -->
                                <!-- <i class="far fa-hand-pointer patrocinador__icon"></i> -->
                            </div>
                        </a>
                    </article>

                    <article class="patrocinador__items">
                        <a href="https://www.pritty.com.ar/" target="_blank">
                            <object class="patrocinador__logo" data="assets/img-sponsor/img9.svg" type="image/svg+xml">
                                <!-- imagen alternativa por si el SVG no carga -->
                                <img src="/assets/img-sponsor/marcas/PNG/img9.png" alt="Imagen PNG alternativa">
                            </object>

                            <!-- efecto que se mostrara cuando pasemos el mouse por arriba -->
                            <div class="patrocinador__hover">
                                <h2 class="patrocinador__subtitle"></h2>
                                <!-- agregamos un icono -->
                                <!-- <i class="far fa-hand-pointer patrocinador__icon"></i> -->
                            </div>
                        </a>
                    </article>

                    <article class="patrocinador__items">
                        <a href="https://www.quilmes.com.ar/" target="_blank">
                            <object class="patrocinador__logo" data="assets/img-sponsor/img10.svg" type="image/svg+xml">
                                <!-- imagen alternativa por si el SVG no carga -->
                                <img src="/assets/img-sponsor/marcas/PNG/img10.png" alt="Imagen PNG alternativa">
                            </object>

                            <!-- efecto que se mostrara cuando pasemos el mouse por arriba -->
                            <div class="patrocinador__hover">
                                <h2 class="patrocinador__subtitle"></h2>
                                <!-- agregamos un icono -->
                                <!-- <i class="far fa-hand-pointer patrocinador__icon"></i> -->
                            </div>
                        </a>
                    </article>

                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__suscripcion">
            <section class="download__section">
                <h3 class="title__footer">Descarga nuestra App</h3>

                <div class="download__app">

                    <a href="https://apps.apple.com/ar/app/club-atl%C3%A9tico-talleres/id1473006513"
                        class="download__item" target="_blank">
                        <i class="fab fa-apple download__logo"></i>
                        <h4 class="download__title">App Store</h4>
                    </a>
                    <a href="/">
                        <a href="https://play.google.com/store/apps/details?id=com.talleres_mobile&hl=es_AR&gl=US"
                            class="download__item" target="_blank">
                            <i class="fab fa-google-play download__logo--play"></i>
                            <h4 class="download__title">Play Store</h4>
                        </a>
                </div>
                <div class="footer__copy">
                    <p class="copyright">EQUIPO DE DESARROLLO &copy; 2021 Todos los derechos reservados</p>
                    <a href="https://apps.apple.com/story/id1539235847" target="_blank" class="politica__privacidad politica__privacidad--margin">Politica de privacidad</a>
                    <a href="https://apps.apple.com/story/id1539235847" target="_blank" class="politica__privacidad">Terminos y condiciones</a>
                </div>
            </section>
            <section class="get-email">
                <h3 class="title__footer">Para contenido exclusivo!</h3>
                <form class="newsletter newsletter--modifier">
                    <input type="text" class="newsletter__input" placeholder="Ingresa tu email">
                    <input type="submit" class="newsletter__submit" value="Suscribirse">
                </form>
                <div class="socialmedia">
                    <p class="socialmedia__legend2">Canales de Comunicación: +54 0351 5715300 | Int. 155   </p>   
                </div>
                <div class="socialmedia">
                    <p class="socialmedia__legend">Síguenos en:</p>
                    <a href="https://es-la.facebook.com/CATalleres/" target="_blank"><i
                            class="fab fa-facebook-f socialmedia__icon"></i></a>
                    <a href="https://twitter.com/CATalleresdecba?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                        target="_blank"><i class="fab fa-twitter socialmedia__icon"></i></a>
                    <a href="https://instagram.com/tallerescbaoficial" target="_blank"><i
                            class="fab fa-instagram socialmedia__icon"></i></a>
                    <a href="https://tiktok.com/@tallerescbaoficial" target="_blank"><i
                            class="fab fa-tiktok socialmedia__icon"></i></a>
                    <a href="https://youtube.com/channel/UC_65FCCzP49fzhNOfeN8pAw" target="_blank"><i
                            class="fab fa-youtube socialmedia__icon"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=543512268833" target="_blank"><i
                            class="fab fa-whatsapp socialmedia__icon"></i></a>
                </div>
            </section>
        </div>
        <div class="contact">
            <div class="item__contact">
                <i class='bx bx-copyright contact__icon'></i>
                <h3 class="contact__title">Copyright © 2021 | Desarrollado por (Proyecto X) - Team 1 | Eggtech TPF</h3>
            </div>
        </div>

    </footer>
    <script src="https://kit.fontawesome.com/5208273844.js" crossorigin="anonymous"></script>

</body>

</html>