<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/escudo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-perfilsocio.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Socio</title>
</head>

<body>
    <header th:replace="/fragments/nav-bar :: nav-bar-sin-slider"></header>
    <main>
        <section class="form-register">
            <article>
                <div class="form">
                    
                    <h1>Carnet de Socio</h1>
                    <img class="logo__club" src="/assets/escudo.png" alt="logo de talleres">
                    <img class="foto_usuario" th:src="${'/foto/socio?id='}+${socio.id}" alt="logo de talleres">
                    <div class="descripcion">
                        <p class ="descripcion__producname">Nombre y Apellido: <span class="descripcion__producname1" th:text="${socio.nombre} + ' ' + ${socio.apellido}"></span></p>
                        <p class ="descripcion__produc">N de Socio: <span class="descripcion__produc1" th:text="'000000' + ${socio.numeroSocio}"></span></p>
                        <p class ="descripcion__produc">Correo Electrónico: <span class="descripcion__produc1" th:text="${socio.email}"></span></p>
                        <p class ="descripcion__produc">Dni: <span class="descripcion__produc1" th:text="${socio.dni}"></span></p>
                        <p class ="descripcion__produc">Ubicación: <span class="descripcion__produc1" th:text="${socio.acceso}"></span></p>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <script src="/main.js"></script>
    <footer th:replace="/fragments/footer :: footer-fragment-formularios"></footer>
</body>
</html>