<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/escudo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-tienda.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>La Tienda</title>
</head>

<body>
    <header th:replace="/fragments/nav-bar :: nav-bar-sin-slider"></header>
    <main>
        <section class="projects">
            <div class="container">
                <div class="grid-container">


                    <div class="grid-item buzos">
                        <a href="/" class="cat__buzos">
                            <img src="/assets/img-tienda/img1.png" class="grid__item--img1" alt="">
                            <p class="boton__indumentaria buzo-boton">Buzos</p>
                        </a>
                    </div>


                    <div class="grid-item accesorios">
                        <a href="/" class="cat__accesorios">
                            <img src="/assets/img-tienda/img5.png" class="grid__item--img2" alt="">
                            <p class="boton__indumentaria accesorio-boton">Accesorios</p>
                        </a>
                    </div>

                    <div class="grid-item shorts">
                        <a href="/" class="cat__shorts">
                            <img src="/assets/img-tienda/img3.png" class="grid__item--img3" alt="">
                            <p class="boton__indumentaria short-boton">Shorts</p>
                        </a>
                    </div>

                    <div class="grid-item camisetas">
                        <a href="/" class="cat__camisetas">
                            <img src="/assets/img-tienda/img2.png" class="grid__item--img4" alt="">
                            <p class="boton__indumentaria camiseta-boton">Camisetas</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="/main.js"></script>
</body>
<footer th:replace="/fragments/footer :: footer"></footer>

</html>