<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/escudo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-socio.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Socio-Registro</title>
</head>

<body>
    <header th:replace="/fragments/nav-bar :: nav-bar-sin-slider"></header>
    <main>

        <div th:replace="/fragments/alerts :: alertas"></div>
        <section class="form-register">
            <form th:action="@{/usuario/socioregistrado}" method="POST" enctype="multipart/form-data"
                th:object="${perfil}">
                <input type="text" hidden th:field="*{id}">
                <div class="form">
                    <img class="logo__club" src="/assets/escudo.png" alt="logo de talleres">
                    <h1 class="socio-title">Hazte socio <span>con estos simples pasos</span></h1>
                    <ul class="requisitos-list">
                        <li><i class="fas fa-camera-retro"></i> Selecciona una foto para el carnet digital (rostro completo
                            y de frente)</li>
                        <li><i class="fas fa-list-ul"></i> Elegí el plan más conveniente para ti</li>
                        <li><i class="far fa-hand-point-right"></i> Presiona el boton <span>"Hacerme socio!"</span></li>
                    </ul>
                    <h2 class="socio-subtitle">Listo!<i class="far fa-thumbs-up"></i></h2>
                    <p class="socio-p">Podrás disfrutar de todos los beneficios 
                        exclusivos que tenemos para ti!</p>

                    <div class="grupo">
                        <label class="label" for="">Foto para el carnet de socio</label>
                        <br>
                        <input class="input" type="file" id="imagen" name="imagen" required><span class="barra"></span>
                    </div>
                    <div class="grupo">
                        <label class="label" for="">Selecciona tu plan</label>
                        <br>
                        <select id="valorCuota" name="valorCuota" th:value="${valorCuota}" required class="socio-plan">

                            <option value="500">Socio Popular - Cuota Mensual $500</option>
                            <option value="1000">Socio Platea Descubierta - Cuota Mensual $1000</option>
                            <option value="1500">Socio Platea Cubierta - Cuota Mensual $1500</option>
                            <option value="2000">Socio Palco - Cuota Mensual $2000</option>

                        </select>
                    </div>
                    <button class="button" type="submit">Hacerme Socio!</button>
                    <p class="confirmacion__mail">Recibirás la confirmación por correo electrónico</p>
                </div>
            </form>
        </section>
        <div th:replace="/fragments/alerts :: alertas"></div>
    </main>
    <script src="/main.js"></script>
    <footer th:replace="/fragments/footer :: footer-fragment-formularios"></footer>
    <script src="https://kit.fontawesome.com/5208273844.js" crossorigin="anonymous"></script>

</body>

</html>