<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/escudo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-socio.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Socio-Registro</title>
</head>

<body>
    <header th:replace="/fragments/nav-bar :: nav-bar-sin-slider"></header>
    <main>
        <div th:replace="/fragments/alerts :: alertas"></div>
        <section class="form-register">
            <form th:action="@{/socio/registrado}" method="POST" th:object="${socio} " enctype="multipart/form-data">

                <input hidden th:field="*{id}">
                <div class="form">
                    <img class="logo__club" src="/assets/escudo.png" alt="logo de talleres">
                    <h1>Registro Socio</h1>

                    <div class="grupo">
                        <input class="input" type="email" name="" id="name" th:field="*{email}" required><span
                            class="barra"></span>
                        <label class="label" for="">E-mail</label>
                    </div>

                    <div class="grupo">
                        <input class="input" type="password" name="" id="name" th:field="*{password}" required><span
                            class="barra"></span>
                        <label class="label" for="">Contraseña</label>
                    </div>
                    <div class="grupo">
                        <input class="input" type="number" name="" id="name" th:field="*{dni}" required><span
                            class="barra"></span>
                        <label class="label" for="">DNI</label>
                    </div>
                    <div class="grupo">
                        <label class="label" for="">Foto para el Carnet de Socio</label>
                        <br>
                        <input class="input" type="file" id="imagen" name="imagen" required><span class="barra"></span>

                    </div>
                    <button class="button" type="submit">Hacerme Socio!</button>
                    <p class="confirmacion__mail">Recibirás la confirmación por correo electrónico</p>
                </div>
            </form>
        </section>
    </main>
    <script src="/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>
    <footer th:replace="/fragments/footer :: footer-fragment-formularios"></footer>
</body>

</html>