<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/escudo.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles-tienda.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Tienda Indumentaria</title>
</head>

<body>
  <header th:replace="/fragments/nav-bar :: nav-bar-sin-slider"></header>
  <main>
    <section class="tienda">
      <div class="container">
        <div class="logo__tienda">
          <img src="/assets/img-tienda/logo-talleres-transparente.png" alt="logo tienda">
        </div>


        <article class="seccion__categoria" id="ir-camisetas">
          <p class="tienda__title-categoria">Camisetas<p>
              <div class="galery__port">
                <div class="producto__tienda">
                  <div class="galery__port--img">
                    <a class="galery__port--hover" href="/tienda-indumentaria">
                      <img class="imagen__tienda" src="/assets/img-1.jpg" alt="camiseta talleres"></a>
                    <div class="descripcion">
                      <p class="descripcion__produc">PROMO Remera Talleres Entrenamiento 2021 GR AZ – GIVOVA</p><br>
                      <p class="cuotas">
                        <span sec:authorize="!hasRole('ROLE_SOCIO')">
                          <span><span class="signo_peso">$</span> 3500</span>
                        </span>
                        <span sec:authorize="hasRole('ROLE_SOCIO')">
                          <del style="color: red;"><span>$</span> 3500</del><br>
                          <span><span class="signo_peso">$</span> 1500</span>
                        </span>
                      </p>
                  
    
                    </div>
                    <a href="mercadopago-1" target="_blank" class="boton__comprar">
                      <p class="carrito__text">Comprar Ahora</p>
                    </a>
                    

                  </div>
                </div>

                <div class="producto__tienda" >
                  <div class="galery__port--img">
                    <a class="galery__port--hover" href="/tienda-indumentaria">
                      <img class="imagen__tienda" src="/assets/img-2.jpg" alt="camiseta talleres"></a>
                    <div class="descripcion">
                      <p class="descripcion__produc">PROMO Remera Talleres Entrenamiento 2021 AZ MR – GIVOVA</p><br>
                      <p class="cuotas">
                        <span sec:authorize="!hasRole('ROLE_SOCIO')">
                          <span><span class="signo_peso">$</span> 3500</span>
                        </span>
                        <span sec:authorize="hasRole('ROLE_SOCIO')">
                          <del style="color: red;"><span>$</span> 3500</del><br>
                          <span><span class="signo_peso">$</span> 1500</span>
                        </span>
                      </p>
                    </div>

                    <a href="mercadopago-2" target="_blank" class="boton__comprar">
                      <p class="carrito__text">Comprar Ahora</p>

                    </a>
                  </div>
                </div>

                <div class="producto__tienda">
                  <div class="galery__port--img">
                    <a class="galery__port--hover" href="/tienda-indumentaria">
                      <img class="imagen__tienda" src="/assets/img-3.jpg" alt="camiseta talleres"></a>
                    <div class="descripcion">
                      <p class="descripcion__produc">PROMO Remera Talleres Entrenamiento 2021 MR AZ – GIVOVA</p><br>
                      <p class="cuotas">
                        <span sec:authorize="!hasRole('ROLE_SOCIO')">
                          <span><span class="signo_peso">$</span> 3500</span>
                        </span>
                        <span sec:authorize="hasRole('ROLE_SOCIO')">
                          <del style="color: red;"><span>$</span> 3500</del><br>
                          <span><span class="signo_peso">$</span> 1500</span>
                        </span>
                      </p>
                    </div>
                    <a href="mercadopago-3" target="_blank" class="boton__comprar">
                      <p class="carrito__text">Comprar Ahora</p>

                    </a>
                  </div>
                </div>

                <div class="producto__tienda">
                  <div class="galery__port--img">
                    <a class="galery__port--hover" href="/tienda-indumentaria">
                      <img class="imagen__tienda" src="/assets/img-4.jpg" alt="camiseta talleres"></a>
                    <div class="descripcion">
                      <p class="descripcion__produc">Camiseta Talleres Alternativa 2 2021-<BR> GIVOVA</p><br>
                        <p class="cuotas">
                          <span sec:authorize="!hasRole('ROLE_SOCIO')">
                            <span><span class="signo_peso">$</span> 3500</span>
                          </span>
                          <span sec:authorize="hasRole('ROLE_SOCIO')">
                            <del style="color: red;"><span>$</span> 3500</del><br>
                            <span><span class="signo_peso">$</span> 1500</span>
                          </span>
                        </p>
                    </div>
                    <a href="mercadopago-4" target="_blank" class="boton__comprar">
                      <p class="carrito__text">Comprar Ahora</p>

                    </a>
                  </div>
                </div>
              </div>
        </article>

        <article class="seccion__categoria" id="ir-buzos">
          <p class="tienda__title-categoria">Buzos</p>
          <div class="galery__port">
            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover" href="/tienda-indumentaria">
                  <img class="imagen__tienda" src="/assets/img-tienda/img-buzos/img-1.jpg" alt="camiseta talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__produc">Buzo Talleres 1913 AZ Kids 2021 –<BR> GIVOVA</p><br>
                    <p class="cuotas">
                      <span sec:authorize="!hasRole('ROLE_SOCIO')">
                        <span><span class="signo_peso">$</span> 3500</span>
                      </span>
                      <span sec:authorize="hasRole('ROLE_SOCIO')">
                        <del style="color: red;"><span>$</span> 3500</del><br>
                        <span><span class="signo_peso">$</span> 1500</span>
                      </span>
                    </p>
                </div>

                <a href="mercadopago-5" target="_blank" class="boton__comprar">
                  <p class="carrito__text">Comprar Ahora</p>

                </a>

              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">

                <a class="galery__port--hover" href="/tienda-indumentaria">
                  <img class="imagen__tienda" src="/assets/img-tienda/img-buzos/img-2.jpg" alt="camiseta talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__produc">Buzo Talleres 1913 AZ Kids 2021 –<BR> GIVOVA</p><br>
                    <p class="cuotas">
                      <span sec:authorize="!hasRole('ROLE_SOCIO')">
                        <span><span class="signo_peso">$</span> 3500</span>
                      </span>
                      <span sec:authorize="hasRole('ROLE_SOCIO')">
                        <del style="color: red;"><span>$</span> 3500</del><br>
                        <span><span class="signo_peso">$</span> 1500</span>
                      </span>
                    </p>
                </div>

                <a href="mercadopago-6" target="_blank" class="boton__comprar">
                  <p class="carrito__text">Comprar Ahora</p>

                </a>
              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover" href="/tienda-indumentaria">
                  <img class="imagen__tienda" src="/assets/img-tienda/img-buzos/img-3.jpg" alt="camiseta talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__produc">Campera Talleres Prepartido 2021 MR-AZ–<BR> GIVOVA</p><br>
                    <p class="cuotas">
                      <span sec:authorize="!hasRole('ROLE_SOCIO')">
                        <span><span class="signo_peso">$</span> 3500</span>
                      </span>
                      <span sec:authorize="hasRole('ROLE_SOCIO')">
                        <del style="color: red;"><span>$</span> 3500</del><br>
                        <span><span class="signo_peso">$</span> 1500</span>
                      </span>
                    </p>
                </div>
                <a href="mercadopago-7" target="_blank" class="boton__comprar">
                  <p class="carrito__text">Comprar Ahora</p>

                </a>
              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover" href="/tienda-indumentaria">
                  <img class="imagen__tienda" src="/assets/img-tienda/img-buzos/img-4.jpg" alt="camiseta talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__produc">Campera Talleres Prepartido 2021 AZ-MR –<BR> GIVOVA</p><br>
                    <p class="cuotas">
                      <span sec:authorize="!hasRole('ROLE_SOCIO')">
                        <span><span class="signo_peso">$</span> 3500</span>
                      </span>
                      <span sec:authorize="hasRole('ROLE_SOCIO')">
                        <del style="color: red;"><span>$</span> 3500</del><br>
                        <span><span class="signo_peso">$</span> 1500</span>
                      </span>
                    </p>
                </div>
                <a href="mercadopago-8" target="_blank" class="boton__comprar">
                  <p class="carrito__text">Comprar Ahora</p>

                </a>
              </div>
            </div>
          </div>
        </article>

        <article class="seccion__categoria" id="ir-shorts">
          <p class="tienda__title-categoria">Shorts</p>
          <div class="galery__port">
            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover" href="/tienda-indumentaria">
                  <img class="imagen__tienda" src="/assets/img-tienda/img-shorts/img-4.jpg" alt="short talleres"></a>
                  <div class="descripcion">
                    <p class="descripcion__produc">Short Talleres Titular 2021<BR> –<BR> GIVOVA</p><br>
                      <p class="cuotas">
                        <span sec:authorize="!hasRole('ROLE_SOCIO')">
                          <span><span class="signo_peso">$</span> 3500</span>
                        </span>
                        <span sec:authorize="hasRole('ROLE_SOCIO')">
                          <del style="color: red;"><span>$</span> 3500</del><br>
                          <span><span class="signo_peso">$</span> 1500</span>
                        </span>
                      </p>
                </div>

                <a href="mercadopago-9" target="_blank" class="boton__comprar">
                  <p class="carrito__text">Comprar Ahora</p>

                </a>

              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">

                <a class="galery__port--hover" href="/tienda-indumentaria">
                  <img class="imagen__tienda" src="/assets/img-tienda/img-shorts/img-3.jpg" alt="short talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__produc">Short Talleres Alternativo 2021<BR> –<BR> GIVOVA</p><br>
                    <p class="cuotas">
                      <span sec:authorize="!hasRole('ROLE_SOCIO')">
                        <span><span class="signo_peso">$</span> 3500</span>
                      </span>
                      <span sec:authorize="hasRole('ROLE_SOCIO')">
                        <del style="color: red;"><span>$</span> 3500</del><br>
                        <span><span class="signo_peso">$</span> 1500</span>
                      </span>
                    </p>
                </div>

                <a href="/mercadopago-10" target="_blank" class="boton__comprar">
                  <p class="carrito__text">Comprar Ahora</p>

                </a>
              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover" href="/tienda-indumentaria">
                  <img class="imagen__tienda" src="/assets/img-tienda/img-shorts/img-2.jpg" alt="short talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__produc">Short Talleres Arquero 2021 NG<BR> –<BR> GIVOVA</p><br>
                    <p class="cuotas">
                      <span sec:authorize="!hasRole('ROLE_SOCIO')">
                        <span><span class="signo_peso">$</span> 3500</span>
                      </span>
                      <span sec:authorize="hasRole('ROLE_SOCIO')">
                        <del style="color: red;"><span>$</span> 3500</del><br>
                        <span><span class="signo_peso">$</span> 1500</span>
                      </span>
                    </p>
                </div>
                <a href="mercadopago-11" target="_blank" class="boton__comprar">
                  <p class="carrito__text">Comprar Ahora</p>

                </a>
              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover" href="/tienda-indumentaria">
                  <img class="imagen__tienda" src="/assets/img-tienda/img-shorts/img-1.jpg" alt="short talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__produc">Short Talleres Arquero 2021 NJ<BR>–<BR> GIVOVA</p><br>
                    <p class="cuotas">
                      <span sec:authorize="!hasRole('ROLE_SOCIO')">
                        <span><span class="signo_peso">$</span> 3500</span>
                      </span>
                      <span sec:authorize="hasRole('ROLE_SOCIO')">
                        <del style="color: red;"><span>$</span> 3500</del><br>
                        <span><span class="signo_peso">$</span> 1500</span>
                      </span>
                    </p>
                </div>
                <a href="mercadopago-12" target="_blank" class="boton__comprar">
                  <p class="carrito__text">Comprar Ahora</p>

                </a>
              </div>
            </div>
          </div>
        </article>



        <article class="seccion__categoria" id="ir-accesorios">
          <p class="tienda__title-categoria">Accesorios</p>
          <div class="galery__port">
            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover" href="/tienda-indumentaria">
                  <img class="imagen__tienda" src="/assets/img-tienda/img-accesorios/img-2.jpg"
                    alt="accesorio talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__produc">Medias Talleres Alternativas Kids BC 2021–<BR> GIVOVA</p><br>
                    <p class="cuotas">
                      <span sec:authorize="!hasRole('ROLE_SOCIO')">
                        <span><span class="signo_peso">$</span> 3500</span>
                      </span>
                      <span sec:authorize="hasRole('ROLE_SOCIO')">
                        <del style="color: red;"><span>$</span> 3500</del><br>
                        <span><span class="signo_peso">$</span> 1500</span>
                      </span>
                    </p>
                </div>

                <a href="mercadopago-13"target="_blank" class="boton__comprar">
                  <p class="carrito__text">Comprar Ahora</p>

                </a>

              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">

                <a class="galery__port--hover" href="/tienda-indumentaria">
                  <img class="imagen__tienda" src="/assets/img-tienda/img-accesorios/img-3.jpg"
                    alt="accesorio talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__produc">Medias Talleres Titulares Kids MR 2021–<BR> GIVOVA</p><br>
                    <p class="cuotas">
                      <span sec:authorize="!hasRole('ROLE_SOCIO')">
                        <span><span class="signo_peso">$</span> 3500</span>
                      </span>
                      <span sec:authorize="hasRole('ROLE_SOCIO')">
                        <del style="color: red;"><span>$</span> 3500</del><br>
                        <span><span class="signo_peso">$</span> 1500</span>
                      </span>
                    </p>
                </div>

                <a href="mercadopago-14" target="_blank" class="boton__comprar">
                  <p class="carrito__text">Comprar Ahora</p>

                </a>
              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover" href="/tienda-indumentaria">
                  <img class="imagen__tienda" src="/assets/img-tienda/img-accesorios/img-1.jpg"
                    alt="accesorio talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__produc">Canillera Strong AZ Senior<BR>–<BR> GIVOVA</p><br>
                    <p class="cuotas">
                      <span sec:authorize="!hasRole('ROLE_SOCIO')">
                        <span><span class="signo_peso">$</span> 3500</span>
                      </span>
                      <span sec:authorize="hasRole('ROLE_SOCIO')">
                        <del style="color: red;"><span>$</span> 3500</del><br>
                        <span><span class="signo_peso">$</span> 1500</span>
                      </span>
                    </p>
                </div>
                <a href="mercadopago-15" target="_blank" class="boton__comprar">
                  <p class="carrito__text">Comprar Ahora</p>

                </a>
              </div>
            </div>

            <div class="producto__tienda">
              <div class="galery__port--img">
                <a class="galery__port--hover" href="/tienda-indumentaria">
                  <img class="imagen__tienda" src="/assets/img-tienda/img-accesorios/img-4.jpg"
                    alt="accesorio talleres"></a>
                <div class="descripcion">
                  <p class="descripcion__produc">Venda Stron AZ Senior<BR>–<BR> GIVOVA</p><br>
                    <p class="cuotas">
                      <span sec:authorize="!hasRole('ROLE_SOCIO')">
                        <span><span class="signo_peso">$</span> 3500</span>
                      </span>
                      <span sec:authorize="hasRole('ROLE_SOCIO')">
                        <del style="color: red;"><span>$</span> 3500</del><br>
                        <span><span class="signo_peso">$</span> 1500</span>
                      </span>
                    </p>
                </div>
                <a href="mercadopago-16" target="_blank" class="boton__comprar">
                  <p class="carrito__text">Comprar Ahora</p>

                </a>
              </div>
            </div>
          </div>
        </article>

      </div>
    </section>

    <!-- <section class="projects">
      <div class="container">
          <div class="grid-container">


              <div class="grid-item buzos">
                  <a href="/" class="cat__buzos">
                      <img src="/assets/img-tienda/img1.png" class="grid__item--img1" alt="">
                      <p class="boton__indumentaria buzo-boton">Buzos</p>
                  </a>
              </div>


              <div class="grid-item accesorios">
                  <a href="/" class="cat__accesorios">
                      <img src="/assets/img-tienda/img5.png" class="grid__item--img2" alt="">
                      <p class="boton__indumentaria accesorio-boton">Accesorios</p>
                  </a>
              </div>

              <div class="grid-item shorts">
                  <a href="/" class="cat__shorts">
                      <img src="/assets/img-tienda/img3.png" class="grid__item--img3" alt="">
                      <p class="boton__indumentaria short-boton">Shorts</p>
                  </a>
              </div>

              <div class="grid-item camisetas">
                  <a href="/" class="cat__camisetas">
                      <img src="/assets/img-tienda/img2.png" class="grid__item--img4" alt="">
                      <p class="boton__indumentaria camiseta-boton">Camisetas</p>
                  </a>
              </div>
          </div>
      </div>
  </section> -->

  </main>
  <script src="/main.js"></script>
  <footer th:replace="/fragments/footer :: footer-fragment"></footer>
</body>

</html>