<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="assets/escudo.png" type="image/x-icon">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/styles-tienda.css">
  <link rel="stylesheet" href="css/styles.css">
  <title>Tienda Indumentaria</title>
</head>

<body>
  <header th:replace="/fragments/nav-bar :: nav-bar-sin-slider-tienda"></header>
  <main>
    <section class="tienda">
      <div class="container">
        <h2 class="tienda__title">NUESTROS PRODUCTOS</h2>
        <div class="galery__port">

          <div class="producto__tienda">
            <div class="galery__port--img">
              <a href="/tienda-indumentaria">
                <img src="assets/img-1.jpg" alt="camiseta talleres"></a>
              <div class="descripcion">
                <p class="descripcion__produc">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Velit, numquam.</p>
                <p class="cuotas">12 x <span class="signo_peso">$</span> 179.17
                  <span>Sin interes</span></p>
              </div>

              <a href="#" class="boton__comprar">
                <p class="carrito__text">Añadir al Carrito</p>
                <img class="carrito__icon" src="/assets/carrito_Mesa.png" alt="">
              </a>

            </div>
          </div>

          <div class="producto__tienda">
            <div class="galery__port--img">

              <a href="/tienda-indumentaria">
                <img src="assets/img-2.jpg" alt="camiseta talleres"></a>
              <div class="descripcion">
                <p class="descripcion__produc">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Velit, numquam.</p>
                <p class="cuotas">12 x <span class="signo_peso">$</span> 179.17
                  <span>Sin interes</span></p>
              </div>

              <a href="#" class="boton__comprar">
                <p class="carrito__text">Añadir al Carrito</p>
                <img class="carrito__icon" src="/assets/carrito_Mesa.png" alt="">
              </a>
            </div>
          </div>

          <div class="producto__tienda">
            <div class="galery__port--img">
              <a href="/tienda-indumentaria">
                <img src="assets/img-3.jpg" alt="camiseta talleres"></a>
              <div class="descripcion">
                <p class="descripcion__produc">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Velit, numquam.</p>
                <p class="cuotas">12 x <span class="signo_peso">$</span> 179.17
                  <span>Sin interes</span></p>
              </div>
              <a href="#" class="boton__comprar">
                <p class="carrito__text">Añadir al Carrito</p>
                <img class="carrito__icon" src="/assets/carrito_Mesa.png" alt="">
              </a>
            </div>
          </div>

          <div class="producto__tienda">
            <div class="galery__port--img">
              <a href="/tienda-indumentaria">
                <img src="assets/img-4.jpg" alt="camiseta talleres"></a>
              <div class="descripcion">
                <p class="descripcion__produc">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Velit, numquam.</p>
                <p class="cuotas">12 x <span class="signo_peso">$</span> 179.17
                  <span>Sin interes</span></p>
              </div>
              <a href="#" class="boton__comprar">
                <p class="carrito__text">Añadir al Carrito</p>
                <img class="carrito__icon" src="/assets/carrito_Mesa.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="projects">
      <div class="container">
        <div class="grid-container">
          <div class="grid-item buzos">
            <img src="assets/img-tienda/img1.png" class="grid__item--img1" alt="">
            <div class="prendas1">
              <a href="" class="cat__indumentaria">Buzos</a>
            </div>
          </div>

          <div class="grid-item accesorios">
            <img src="assets/img-tienda/img5.png" class="grid__item--img2" alt="">
            <div class="prendas2">
            <a href="" class="cat__indumentaria">Accesorios</a>
            </div>
          </div>

          <div class="grid-item shorts">
            <img src="assets/img-tienda/img3.png" class="grid__item--img3" alt="">
            <div class="prendas3">
              <a href="" class="cat__indumentaria">Shorts</a>
            </div>
          </div>

          <div class="grid-item camisetas">
            <img src="assets/img-tienda/img2.png" class="grid__item--img4" alt="">
            <div class="prendas4">
              <a href="" class="cat__indumentaria">Camisetas</a>
            </div>
          </div>
        </div>
    </section>

  </main>
  <script src="main.js"></script>
</body>
<footer th:replace="/fragments/footer :: footer">

</footer>


</html>