<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/escudo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-registro.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Registro</title>
</head>

<body>
    <header th:replace="/fragments/nav-bar :: nav-bar-sin-slider"></header>
    <main>
        <section class="form-register">

             <form th:action="@{/usuario/registrado}" method="POST" th:object="${usuario}" enctype="multipart/form-data">
               <input hidden th:field="*{id}">
                <div class="form">
                    <img class="logo__club" src="/assets/escudo.png" alt="logo de talleres">
                    <h1>Registro</h1>
                    <div class="grupo">
                        <input class="input" type="text" name="" id="nombre" th:field="*{nombre}" required><span class="barra"></span>
                        <label class="label" for="nombre">Nombre</label>
                    </div>
                    <div class="grupo">
                        <input class="input" type="text" name="" id="name" th:field="*{apellido}" required><span class="barra"></span>
                        <label class="label" for="">Apellido</label>
                    </div>
                    <div class="grupo">
                        <input class="input" type="text" name="" id="name" th:field="*{domicilio}" required><span class="barra"></span>
                        <label class="label" for="">Domicilio</label>
                    </div>
                    <div class="grupo">
                        <input class="input" type="email" name="" id="mail" th:field="*{email}" required><span class="barra"></span>
                        <label class="label" for="">Email</label>
                    </div>
                    <div class="grupo">
                        <input class="input" type="password" name="" id="name" th:field="*{password}" required><span class="barra"></span>
                        <label class="label" for="">Contraseña </label>
                    </div>
                    <div class="grupo">
                        <input class="input" type="number" name="" id="name" th:field="*{dni}" required><span class="barra"></span>
                        <label class="label" for="">DNI</label>
                    </div>
                    <div class="grupo">
                        <input class="input" type="number" name="" id="name" th:field="*{telefono}" required><span class="barra"></span>
                        <label class="label" for="">Teléfono</label>
                    </div>
                    <div class="grupo">
                        <input class="input" type="file" name="foto" id="foto" th:field="*{foto}"><span
                            class="barra"></span>
                        <label class="label" for="">Foto Usuario (opcional)</label>
                    </div>
                    <button class="button" type="submit">Registrarme</button>
                    <p class="confirmacion__mail">Recibirás confirmación del registro por correo electrónico.</p>
                </div>
            </form>
        </section>
    </main>
    <script src="/main.js"></script>
</body>

</html>

