<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/escudo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-noticias.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Noticias</title>
</head>

<body>
    <header th:replace="/fragments/nav-bar :: nav-bar-sin-slider"></header>
    <main>
        <section class="section__noticias">
            <div class="container-noticias">
                <article class="noticia-ampliada">
                    <div class="card-ampliada">
                        <img src="/assets/img-noticias/beltramone_862x485.jpg" class="card__img-noticia">
                        <div class="cards_text">
                            <p class="card_list">Juveniles Talleres: Resumen de la jornada de inferiores</p>
                            <p class="card__copy">
                                Talleres y Patronato se pusieron al día en el Torneo Juvenil de la Liga Profesional de Fútbol.
                                El albiazul y el Patrón disputaron los partidos correspondientes a la 1° Fecha del Certamen.
                                Las categorías mayores lo hicieron en Córdoba, mientras que las menores disputaron sus encuentros en Paraná. A continuación, el resumen de la jornada:
                                 
                                EN CÓRDOBA
                                 
                                4TA DIVISIÓNTALLERES 5 – PATRONATO 1Marsengo; Paredes, Studer, Dangelo, Medina; Bassani, Agüero, Mendoza, Bertacin, Fernández, Herrera. DT: Egidio Acuña
                                Goles de Talleres: Fernández, Dangelo, Mendoza, Studer, Díaz
                                 
                                5TA DIVISIÓNTALLERES 1 – PATRONATO 1Gualtieri; Aramburu, Cañete, López, Vanega; Gatani, Arnijas, Maldonado; Viano, Barrera, Álvez. DT: Ezequiel Tartaglia
                                Gol de Talleres: Álvez
                                 
                                6TA DIVISIÓNTALLERES 4 – PATRONATO 1Gattino; Amaranto, Rodríguez, Kummer, Garzón; Mendoza, Gallard, Fúnes; Manzanares, Prato, Frutos. DT: Carlos Díaz
                                Goles de Talleres: Gallard x 4
                                 
                                EN PARANÁ
                                 
                                7MA DIVISIÓNPATRONATO 1 – TALLERES 3Barbi; Olmos, Fernández, Gennaro, Moreno; Culasso, Brignani, Godoy E.; Barrera, Griffa, Godoy R. DT: Fabián López
                                Goles de Talleres: Godoy E., Maldonado, Griffa
                                 
                                8VA DIVISIÓNPATRONATO 3  – TALLERES 1
                                Martínez; Yañez, Guiñazú, Lator, Garrone; Caprari, Albarracín, Pedano; Ludueña, Daghero, Gallardo. DT: Cristian Neira
                                Gol de Talleres: Daghero
                                 
                                9NA DIVISIÓNPATRONATO 0  – TALLERES 1Pontoni; Cáceres, Suárez, Nuccio, Acuña; Giménez, Andrada; Corradi; Núñez, Davila, Albarracín. DT: Leopoldo Amaya
                                Gol de Talleres: Perrone
                                 
                                Talleres sumó 13 de los 18 puntos en juego en la jornada, producto de 4 victorias, un empate y una derrota. Además convirtió 15 goles y le convirtieron 7.
                                
                                 </p><br>
                            <a href="/noticias" class="card__button">Volver atrás</a>
                            <P class="fecha__noticia">02 DE SEPTIEMBRE, 2021</P>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer th:replace="/fragments/footer :: footer-fragment-formularios"></footer>
</body><P></P>

</html>